<%=content_for :nav do%>
	<%= link_to 'Signup', signup_path %>
<%end%>

<%= form_for(:session, url: sessions_path) do |f| %>
	<div class="qa-login-box">
		<div class="item">
			<%= f.label :email, class: "field" %><span class="con"><%= f.text_field :email, class: "input-txt" %></span>
		</div>
		<div class="item">
			<%= f.label :password, class: "field" %><span class="con"><%= f.password_field :password, class: "input-txt" %></span>
		</div>
		<div class="btn"><%= f.submit "submit" %></div>
	</div> 
<%end%>

