<h1>Sign in</h1>

<div class="form-box">
  <%= form_for(:session, url: sessions_path) do |f| %>
    <table class="form-table">
      <tr>
        <td> <%=space_filter(30)%><%= f.label :email %>: </td>
        <td> <%= f.text_field :email %> </td>
      </tr>
      <tr>
        <td> <%= f.label :password %>: </td>
        <td> <%= f.password_field :password %> </td>
      </tr>
      <tr>
        <td colspan="2"> <%= f.submit "Sign in" %> </td>
      </tr>

    </table>
  <%end%>
</div>

<div class="nav_bar">
  <div class="or_hr">Or</div>
  <hr/>
  <p>
  <%= home_link %>
  <%= link_to 'Signup', signup_path %>
  </p>
</div>


