<div class="huge_nav_button">
	<% if current_user %>
		<%= link_to 'Detail', current_user %>
		<%= space_filter(7) %>
		<%= link_to 'Signout', signout_path, {method: :delete} %>
	<%else%>
		<%= link_to 'Signin', signin_path %>
		<%= space_filter(7) %>
		<%= link_to 'Signup', signup_path %>
	<%end%>
</div>
