<!DOCTYPE html>
<html>
	<head>
		<title>AsUser</title>
		<%= favicon_link_tag "/assets/favicon.ico"%>
		<%= stylesheet_link_tag    "as_user/application", :media => "all" %>
		<%= javascript_include_tag "as_user/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render "as_user/shared/messages"%>

		<%= yield %>

		<hr/>

		<div class="nav_bar">
			<%= yield :menu%>
		</div>

	</body>
</html>
