<!DOCTYPE html>
<html>
	<head>
		<title>AsUser</title>
		<%= favicon_link_tag "/assets/favicon.ico"%>
		<%= stylesheet_link_tag    "as_user/application", :media => "all" %>
		<%= javascript_include_tag "as_user/application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<header id="header">
			<%= render "as_user/shared/logo_nav"%>
			<nav class="main-nav">
				<%= yield :nav%>
			</nav>
			<%= render "as_user/shared/user_info"%>
		</header>

		<div id="container">
			<div class="message-box">
				<%= render "as_user/shared/messages"%>
			</div>

			<%= yield %>
		</div>

		<footer id="footer">
			Powered by <%=link_to "as_user", "http://github.com/as181920/as_user", {target: "_blank"}%>
		</footer>
	</body>
</html>


