<h1>Editing user</h1>

<%#= render 'form' %>
<%= form_for(@user) do |f| %>
  <h3><%=@user.name%></h3>
  <h3><%=@user.email%></h3>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Cancel', @user %>
