<%= content_for :nav do %>
  <%= link_to 'Signin', signin_path %>
  <span class="line">|</span>
  <%= link_to 'Signup', signup_path %>
<% end %>

<table>
  <tr>
    <th>Id</th>
    <th>Email</th>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= "***" || user.email %></td>
    <td><%= user.name %></td>
  </tr>
<% end %>
</table>

<%=paginate @users%>
