<% content_for :nav do %>
  <%= link_to 'Edit', edit_user_path(@user) if current_user?(@user) %>
  <%= span_vertical_line %>
  <%= link_to 'Change Password', edit_password_user_path(@user) if current_user?(@user) %>
  <%= span_vertical_line %>
  <%= link_to 'Signout', signout_path,method: :delete if current_user?(@user) %>
<% end %>

<table class="form-table">
  <tr> <td> Id: </td> <td> <%=text_field_tag "user[id]", @user.id, {readonly: "true"} %> </td> </tr>
  <tr> <td> Name: </td> <td> <%=text_field_tag "user[name]", @user.name, {readonly: "true"} %> </td> </tr>
</table>
